Screen {
    layout: vertical;
}

RichLog {
    height: 1fr;
    padding: 0 1;
        scrollbar-size-vertical: 0;
    scrollbar-size-horizontal: 0;
}

Input {
    dock: bottom;
    margin: 0 0 0 0;
    padding: 0 1;
    border: none;
    border-left: heavy $secondary;
    border-right: heavy $secondary;
}

Input:focus {
    border: none;
    border-left: heavy $secondary;
    border-right: heavy $secondary;
}
